%h4
  = flash[:notice]
  = flash[:alert]
  
#email_configuration
  = simple_form_for(current_account, :url => settings_path) do |f|
    = f.error_messages
    %br
    %p
      API version: #{current_account.api_version}
    %br
    %br
    %div.yui3-g
      %div.yui3-u-1-4
        = f.label :email_from, "From address"
        = f.text_field :email_from
        %br
        %br
    %div.yui3-g
      %div.yui3-u-1-4
        = f.label :api_host
        = f.text_field :api_host
        %br
        %br
        
    = link_to "Setup email options", main_app.account_email_options_path(current_account)
    %br
    = link_to "Setup consume email options", main_app.account_consume_email_options_path(current_account)
    %br    
    = f.button :submit, "Update Account"