
.text-info
  %h3 Send email

.container
  = simple_form_for(@message, :html => {class: 'form-horizontal'}) do |f|
    .form-inputs
      = f.error :base
      = f.error_notification
      = f.input :from
      = f.input :to
      = f.input :subject
      = f.input :body, :as => :text
    .form-actions
      = f.button :submit, "Send", {class: 'btn btn-primary'}

