= simple_form_for [current_account, option] do |f|
  = f.error_messages
  %div.yui3-g
  = f.label :name
  = f.select :name, @available_objects, {}, {:class => 'select-menu'}
  %br
  %br

  = f.label :body_map, "Field on object to map to Body"
  = f.text_field :body_map
  
  %div.yui3-g
  %br
  %br
  = f.button :submit, "Submit!"