%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li.active Email Notifier

.alert.alert-info
  %h1 Email Notifier
  %p Manage the email extension.

%hr

= link_to new_message_path, class: 'btn btn-large btn-primary' do
  Send Email
  %i.icon-circle-arrow-right

%hr

= paginate @messages
- if @messages.size == 0
  .alert No email messages yet.
- else
  %table.table.table-striped
    %thead
      %tr
        %th From
        %th To
        %th Subject
        %th Time
    %tbody
      - @messages.each do |message|
        %tr
          %td.ap-mono= message.from
          %td.ap-mono= message.to
          %td= message.subject
          %td.ap-mono= message.updated_at
