.text-info
  %h3 Email Extension Settings
  %h3 Messages

%br

%h3= link_to "Send Email", new_message_path
.ap-text-center
  = paginate @messages
%table.table.table-striped
  %tbody
    %tr 
      %th time
      %th from
      %th to
      %th subject
      %th message
      - @messages.each do |message|
        %tr
          %td= message.updated_at
          %td= message.from
          %td= message.to
          %td= message.subject
          %td= message.body



