= simple_form_for [current_account, option] do |f|
  = f.error_messages
  = f.label :name
  = f.select :name, @available_objects, {}, {:class => 'select-menu'}
  %br
  
  = f.label :to_address
  = f.text_field :to_address, :size => 150
  = f.label :subject
  = f.text_field :subject, :size => 150
  = f.label :body
  = f.text_field :body, :size => 150
  %br
  = f.button :submit, "Submit!"