= simple_form_for [current_account, option] do |f|
  = f.error_messages
  %div.yui3-g
    %div.yui3-u-1-4
      = f.label :name
      %br
      = f.select :name, @available_objects
      %br
      %br
      %br
      = f.label :to_address
      %br
      = f.text_field :to_address
      %br
      = f.label :subject
      %br
      = f.text_field :subject
      %br
      = f.label :body
      %br
      = f.text_field :body, :size => 80
      %br
  %div.yui3-g
    %div.yui3-u-1-4
      = f.button :submit, "Submit!"
