= link_to "Go back to settings", settings_path
%br
%br
#email_option
  = @email_option.name
  \- #{@email_option.subject}
%br
= link_to "Edit", edit_account_email_option_path(current_account, @email_option)
= link_to "Delete", [current_account, @email_option], :method => :delete, :confirm => "Are you sure you want to delete this email option?"