<!DOCTYPE html>
<html>
<head>
  <title>EmailExtension</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag (request.ssl? ? 'https' : 'http') + '://yui.yahooapis.com/combo?3.4.1/build/cssreset/reset-min.css&3.4.1/build/cssfonts/fonts-min.css&3.4.1/build/cssgrids/grids-min.css' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= stylesheet_link_tag (request.ssl? ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css' %>
  <%= chameleon_stylesheet_link %>
  <%= stylesheet_link_tag    "token-input", :media => "all" %>
  <%= javascript_include_tag "jquery.tokeninput" %>
  

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
